/*if we were using SASS we could easily port all these over into nesting pattern*/

#main_result_list li{
	padding-bottom: 1%;
}

#main_result_list li img{
	border: thick solid lightgrey;
	padding: 0;
	transition: all .2s ease-in-out;
}
#main_result_list li img:hover{
	transform: scale(2);
	
	transform-origin: left top;
}
#main_result_list li img:not(:first-child){
	margin-left: 1%;
}

.modalFocus{
	z-index: 1;
	opacity: 1;
}

.blurFocus{
	z-index: 0;
	background:rgba(0,0,0,0.3);
}
