<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <div class="nav fixed-bottom justify-content-center">
      <input id="mainSearchBar" v-model="searchParam"></input><button v-on:click="updateSearchResults">Search</button>
    </div>
    <giffy-wheel  v-bind:giffy-results="giffyResults"></giffy-wheel>
  </div>

  <script>

    Filter = function(searchText, limit, offset, rating, lang){
    
      this.q=searchText;
      this.limit=limit;
      this.offset=offset;
      this.rating=rating;
      this.lang = lang;
    }

    var consts = {
      urls: {
        giffy: {
          //TODO not safe to store api key on front end, implement request to server with auth token for api key on app launch
          api_key: 'jMoCXaYl2KFibNaeNSZPaviHDMXNCdgw',
          search: {
            type: 'GET',
            base: 'https://api.giphy.com/v1/gifs/search',
            defaultFilters: new Filter('', 25, 0, 'PG-13', 'en')
          },
          trending: {
            type: 'GET',
            base: 'https://api.giphy.com/v1/gifs/trending',
            defaultFilters: new Filter(null, 25, null, 'PG-13', null)
          }

        
        }
      }
    }
    //we moved giffySearch function outside the main app as this method does not depend on any app specific entities but rather on the giffy api itself, hence it makes no sense to couple it to the app component.
    function giffyApiCall(endpoint, filters, callback){
      var queryString = '?api_key='+consts.urls.giffy.api_key;
      //Because this is a simple get call, we adhere to CORS requirements and can perform the request directly from the client and even file protocol without needing to host on a server
      var xhttp = new XMLHttpRequest();
      //TODO handle errors and timeouts   
      xhttp.onreadystatechange = function() {
          
          if (this.readyState == 4 && this.status == 200){
            
            var response = JSON.parse(xhttp.responseText);
            callback(response.data);//let the callback decide how to use the data
          }
    
      }
      //we could abstract and decouple the query string generation method from the vue componenet even further by creating a utility object with a generateQueryParams function
      for (var filterKey in filters){        
          //for certain api end points that take less parameters such as 'trending', we can ignore the key whilst using the same generic Filter object by setting the value to null
          if(filters[filterKey]!=null){
            queryString+='&'+filterKey+'='+filters[filterKey];
          }
          
      }
      xhttp.open(consts.urls.giffy[endpoint].type, consts.urls.giffy[endpoint].base+queryString, true);
      xhttp.send();
    }

    //Components
    var GiffyWheel = {
      //Question: Vue.js documentation indicates that Vue.js does not implemnt templateURLs like angular. Does the team implemenet a workaround? 
      template : '<ul id="main_result_list" class="container-fluid"><li v-for="(row, row_index) in paginatedResults" class="row"><img v-for="(gif, col_index) in row" :src="gif.images.fixed_height_small_still.url" class="col-2 img-fluid rounded-circle" v-bind:class="isFirst(col_index)" v-bind:style="maintainOrientation(row_index, col_index)" @mouseenter="updateFocus"  @mouseleave="updateFocus"/></li></ul>',
      props: ['giffyResults'],
      computed: {
        paginatedResults: function(){
          var nestedArray = [];
          var offset=0;
          //TODO make 5 a pagination parameter 
          for(var i=5; i<this.giffyResults.length; i+=5){
            nestedArray.push(this.giffyResults.slice(offset, i));
            offset = i;
          }
          nestedArray.push(this.giffyResults.slice(offset));//get remaining elements 
          return nestedArray;
        }
        
      },
      methods: {
        isFirst: function(index){
         
          var offsetClass = "offset-1 margin-counter-offset"
          if(index == 0){
            return offsetClass;
          }
          return "";
        },
        //TODO update 5 with same pagination parameter
        //this should also work if the app scales to implement filtering or re-ordering of results and will update the orientation of the immage element to properly transition
        maintainOrientation: function(yPosition, xPosition){
         
          return {transformOrigin: xPosition/5*100+"% "+yPosition/5*100+"%"}
        },
        updateFocus: function(e){
          
          if (e.type.toUpperCase()==="MOUSEENTER"){
            e.target.classList.add("modalFocus");
            app.$el.classList.add("blurFocus");
          }else{
            e.target.classList.remove("modalFocus");
            app.$el.classList.remove("blurFocus");
          }
          
        }
      }
    }
    var app = new Vue({
      el: '#app',
      data: {
        searchParam: 'Trending',
        giffyResults: []
      },
      methods: {
        humanizeURL: function (url) {
          return url
            .replace(/^https?:\/\//, '')
            .replace(/\/$/, '')
        },
        updateSearchResults: function(){
          //made a local variable merely to shorten the chain property calls for new Filter and increase code readability
          var defaults = consts.urls.giffy.search.defaultFilters;
          giffyApiCall('search', new Filter(app.$data.searchParam, defaults.limit, defaults.offset, defaults.rating, defaults.lang), function(searchResults){
            app.$data.giffyResults = searchResults;
          });
        }
        
      },
      components: {
        'giffy-wheel': GiffyWheel
      },
      //we use this lifecycle hook to set the initial state of the app data, just after the data member has been created and observers have been attached.
      created: function(){

        giffyApiCall('trending', consts.urls.giffy.trending.defaultFilters, function(trendingResults){

          app.$data.giffyResults = trendingResults;
        });
      }
    })
  </script>
</body>
</html>
